$color-black: black;
$color-dark-gunmetal: #1b2430;
$color-american-blue: #3f3b6c;
$color-royal-purple: #6C4AB6;
$color-medium-purple: #8D72E1;
$color-jordy-blue: #8d9eff;
$color-diamond: #b9e0ff;
$color-white: white;


$filter-medium-purple: invert(49%) sepia(97%) saturate(2534%) hue-rotate(226deg) brightness(97%) contrast(81%);